*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#f5f5f5;
    padding:20px;
}

header{
    background:#1e3a8a;
    color:white;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
}

nav{
    margin-top:10px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-right:15px;
    font-weight:bold;
}

.container{
    background:white;
    padding:20px;
    border-radius:10px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

th, td{
    border:1px solid #ccc;
    padding:10px;
}

th{
    background:#2563eb;
    color:white;
}

input,
select,
textarea,
button{
    width:100%;
    padding:10px;
    margin-top:10px;
}

button{
    background:#2563eb;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}

.winner{
    background:#dcfce7;
    font-weight:bold;
}

.result{
    margin-top:20px;
    padding:10px;
    background:#eef2ff;
}